@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Brand Colors */
    --brand-50: 224 84% 95%;
    --brand-200: 220 88% 80%;
    --brand-100: 220 88% 90%;
    --brand-300: 220 87% 71%;
    --brand-400: 220 87% 61%;
    --brand-500: 220 87% 51%;
    --brand-600: 220 84% 41%;
    --brand-700: 220 83% 31%;
    --brand-800: 220 85% 20%;
    --brand-900: 220 85% 10%;
    --brand-950: 221 85% 5%;

    --background: 0 0% 98%;
    /* Zinc 50 */
    --foreground: 221 85% 5%;
    /* Brand-950 */

    --subtle-foreground: 218 11% 65%;
    /* Gray-400 */

    --card: 0 0% 100%;
    /* White */
    --card-foreground: 221 85% 5%;
    /* Brand-950 */

    --popover: 0 0% 100%;
    /* White */
    --popover-foreground: 221 85% 5%;
    /* Brand-950 */

    --primary: 220 87% 51%;
    /* Brand-500 */
    --primary-foreground: 224 84% 95%;
    /* Brand-50 */

    --secondary: 220 88% 90%;
    /* Brand-100 */
    --secondary-foreground: 221 85% 5%;
    /* Brand-950 */

    --muted: 220 88% 90%;
    /* Brand-100 */
    --muted-foreground: 220 87% 51%;
    /* Brand-500 */

    --accent: 220 88% 90%;
    /* Brand-100 */
    --accent-foreground: 221 85% 5%;
    /* Brand-950 */

    --destructive: 0 72% 51%;
    /* Red-600 */
    --destructive-foreground: 0 86% 97%;
    /* Red-50 */

    --border: 216 12% 84%;
    /* Gray-300 */
    --input: 216 12% 84%;
    /* Gray-300 */
    --ring: 221 85% 5%;
    /* Brand-950 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}